h1 {
	color : black;
	font-family: arial;
	font : bold;
	background-color : Images/biru.jpg;
	line-height : 25px;
	padding :10px;
	border-radius : 10px;
}
a {
	color : black;
	background-color : white;
	font-family : trebuchet MS;
	font-weight : bold;
	border: 2px solid white;
	line-height : 25px;
	padding :10px;
	border-radius : 10px;
	
}